# Ignorar bin y obj
ProyectoKamil/bin/
ProyectoKamil/obj/


# Ignorar carpeta de configuración local de VS
.vs/

# Otros archivos generados
*.user
*.suo
*.cache
*.pdb
*.exe
*.dll
*.vscode/
*.vsidx
*.csproj.FileListAbsolute.txt


